.single-movie {
    .movie-image {
        min-width: 240px;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
    .movie-description {
        color: whitey("600");
    }
}